<!doctype html>
<html lang="en-us">
	<head>
        <meta charset="utf-8">
		<title>Checkout</title>
		<link rel="stylesheet" href="css/format1.css">
	</head>

	<nav>
	<a href="index.html">Home</a>
	</nav>
	
	
	<form action="/action_page.php>
		<label for="fname">First Name</label><br>
		<input type="text" placeholder="First Name"id="fname" name="fname"><br><br>

		<label for="lname">Last Name</label><br>
		<input type="text" id="lname" name="lname"><br><br>

		<label for="address">Address</label><br>
		<input type="text" id="address" name="address"><br><br>

		<label for="city">City</label><br>
		<input type="text" id="city" name="city"><br><br>

		<label for="state">State</label><br>
		<input type="text" id="state" name="state"><br><br>

		<label for="zipcode">Zip Code</label><br>
		<input type="text" id="zipcode" name="zipcode"><br><br>

		<label for="country">Country</label><br>
		<input type="text id="country" name="country" value="United States"><br><br>

		<label for="creditcard">Credit Card Number</label><br>
		<input type="text id="creditcard" name="creditcard"<br><br><br>

		<label for="expdate">Expiration Date</label><br>
		<input type="text id="expdate" name="expdate"<br><br><br>

		<label for="cvv">CVV</label><br>
		<input type="text id="CVV" name="CVV"<br><br><br>

		<button>Checkout Now</button>
	</form>
		
	
</html>