<!doctype html>
<html lang="en-us">
		<head>
        <meta charset="utf-8">
        <title>Homepage</title>
		    <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body> 
    <!--Header-->
        <div class="header">
          <div class="left-header">
          	<img class="company-logo" src="/images/companyname.png">
          </div>
          <div class="middle-header">
            <nav class="header-nav">
             <a class="home-header" href="index.html">HOME</a>
             <a class="shop-header" href="index.html">SHOP</a>
             <a class="prebrew-header" href="index.html">PRE-BREWED</a>
             <a class="sale-header" href="index.html">SALE</a>
             <a class="aboutus-header" href="index.html">ABOUT US</a>
            </nav>
          </div>
          <div class="right-header">
            <button class="cart-button"> <img class="cart-icon" src="/images/shoppingbag.jpg" alt=""></button>
          </div>
        </div>
        



          <h2>Products</h2>  
			<br> </br>
          <p><img src="whitetee.jpg" width="75" height="125"> </p>
        
        </section>
	</body>
</html>
<!--<input class="search-bar" type="text" placeholder="Search">-->
