body{
  background-color:aliceblue;
	font-family: monospace;
	font-size: xx-large;
	font-weight: bolder;
	padding-top: 210px;
}
.header {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 216, 216);
  z-index: 100;
}
.left-header{
  
  border-top: 10px;

  width: 503px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
 
  
}
.company-logo{
  
}

.middle-header{

  flex: 1;
  padding-bottom: 10px;
  max-width: 1000px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  font-family: monospace;
  font-size: 30px;
  font-weight:bold;
  margin-left: 800px;
}   

.header-nav:{
  
}
.header-nav:hover{
  
}

.home-header:hover{
  background-color: aquamarine;
}

.shop-header:hover{
  background-color: aquamarine;
}

.prebrew-header:hover{
  background-color: aquamarine;
}
.sale-header:hover{
  background-color: aquamarine;
}
.aboutus-header:hover{
  background-color: aquamarine;
}



