.header {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 216, 216);
  z-index: 100;
}
.left-header{
  
  border-top: 10px;

  width: 503px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
 
  
}
.company-logo{
  
}

.middle-header{

  flex: 1;
  padding-bottom: 10px;
  max-width: 1000px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  font-family: monospace;
  font-size: 30px;
  font-weight:bold
  
}   

.header-nav:{
  
}
.header-nav:hover{
  
}

.home-header:hover{
  background-color: aquamarine;
}

.shop-header:hover{
  background-color: aquamarine;
}

.prebrew-header:hover{
  background-color: aquamarine;
}
.sale-header:hover{
  background-color: aquamarine;
}
.aboutus-header:hover{
  background-color: aquamarine;
}

.right-header{
width: 200px;
display: flex;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}

.cart-container{
  
}
.cart-button{
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.cart-icon{
height: 80px;
border-radius: 40px;
position: absolute;
display: flex;
justify-content: center;

}
  
.cart-count{
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  padding: 4px 10px 4px 10px;
  background-color: rgb(200, 0, 0);
  color: white;
  border-radius: 30px;
  position: absolute;
  top: -37px;
  right: -28px;
  
  
  
 
}
.cart-button .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  font-family: monospace;
  padding: 4px 22px 4px 22px;
  border-radius: 2px;
  font-size: 12px;
  top: 30px;
 

  opacity: 0;
  transition: opacity .15s;
  pointer-events: none;
  white-space: nowrap;
}
.cart-button:hover .tooltip{
  opacity: 1;
}












.search-bar::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.search-bar{
  flex: 1;
  height: 34px;
  padding: 0 0 0 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  width: 0;
}