.sidebar{
    background-color: white;
    color: black;
    position: fixed;
    top: 201px;
    bottom: 0;
    left: 0;
    width: 170px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 50px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.sidebar-link{
    font-family: monospace;
}
.sidebar-link:hover{
    background-color: lightgray;
}