@charset "utf-8";
/* CSS Document */
body { background-color: #FFFFFF;
		color: #000000;
		font-family:  "Lucida Console", "Courier New", monospace; }
h1 { background-color: #A7A7A7;padding-top: 50px; padding-right: 30px; padding-bottom: 50px; padding-left: 80px;} 
h1 { color: #000000; font-family: "Lucida Console", "Courier New", monospace; }



