<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
		<link rel="stylesheet" href="format1.css">
    </head>
    <body>
    <!--Header-->
    <h1>Company Name</h1>
    <!--Navigation-->
        <nav align="right">
			<h3><a href="https://www.studentweb.kennesaw.edu/~ldenson6/onlinestore/">Home</a> | <a href="https://www.studentweb.kennesaw.edu/~ldenson6/onlinestore/cart">Cart</a></h3>
		</nav>
        
    <!--SECTION-->
        <section>
          <h2>Products</h2>  
			<br> </br>
          <p><img  src="whitetee.jpg" width="75" height="125"> <img src="whitetee.jpg" width="75" height="125"><img src="whitetee.jpg" width="75" height="125"><img src="whitetee.jpg" width="75" height="125"><img src="whitetee.jpg" width="75" height="125"> </p>
        
        </section>
	</body>
</html>
