<!doctype html>
<html lang="en-us">
		<head>
        <meta charset="utf-8">
        <title>Shop</title>
		    <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body> 


        <!--Header-->
        <div class="header">
            <div class="left-header">
                <img class="company-logo" src="/images/companyname.png">
            </div>
            <div class="middle-header">
              <nav class="header-nav">
               <a class="home-header" href="index.html">HOME</a>
               <a class="shop-header" href="index.html">SHOP</a>
               <a class="prebrew-header" href="index.html">PRE-BREWED</a>
               <a class="sale-header" href="index.html">SALE</a>
               <a class="aboutus-header" href="index.html">ABOUT US</a>
              </nav>
            </div>

        <div id="content">
            <section id="Shop">
                <h2>Shop</h2>
            </section>

            <main>
                -- <!-- <div class="photo">
                    <img src="../images/paw1.png" alt="Dog ready for adoption 1">
                </div>
                <div class="photo">
                    <img src="../images/paw2.png" alt="Dog ready for adoption 2">
                </div>
                <div class="photo">
                    <img src="../images/paw3.png" alt="Dog ready for adoption 3">
                </div>
                <div class="photo">
                    <img src="../images/paw4.png" alt="Dog ready for adoption 4">
                </div>
                <div class="photo">
                    <img src="../images/paw5.png" alt="Dog ready for adoption 5">
                </div>
                <div class="photo">
                    <img src="../images/paw6.png" alt="Dog ready for adoption 6">
                </div>
            </main>
        </div> 

  

        <footer>
            
        </footer> -->
   
</html>